@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/*HOME - RESUME & REFERENCES*/
.go-back-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #25404A; /* Turqoise */
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.go-back-button:hover {
  background-color: #25404A; /* Turqoise */
}

/*PAST-EVENTS*/
.past-events-container {
  text-align: center;
  color: white;
  max-width: 900px;
  margin: 0 auto;
}

.event-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.event-image {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.event-info {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
}

.event-info h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.event-info p {
  font-size: 1rem;
  max-width: 80%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation button {
  background: rgba(0, 255, 255, 0.3);
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 8px;
}

.navigation button:hover {
  background: rgba(0, 255, 255, 0.6);
}
